################################
#       LOCAL CONFIG FILE
################################
globals.py

###############################
#	OTHER REPO
###############################
treetagger

###############################
#	JUNK
###############################
*.idf
pair_0.2
*.result
testWiki

###############################
#	FOLDER
###############################
data/*
output/*
