################################
#       LOCAL CONFIG FILE
################################
globals.py

###############################
#	OTHER REPO
###############################
treetagger

###############################
#	JUNK
###############################
*.idf
*.model
*.result
testWiki
*.pyc

###############################
#	FOLDER
###############################
data/*
output/*
__pycache__/*
summary/*
