################################
#       LOCAL CONFIG FILE
################################
globals.py

###############################
#	OTHER REPO
###############################


###############################
#	JUNK
###############################
*.swp
*.idf
*.model
*.result
*result
testWiki
*.py[cod]
*.log

###############################
#	FOLDER
###############################
logs/
data/
output/
__pycache__/
summary/
